// Page Layout
// -----------------------------------------------------------------------------
html {
  //background-color: white;
  height: 100%;
}
$frontpageWith: 400px;
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  //margin: 0.5em;
  background-color: white;
  @media (min-width: 380px) {
    background-image: url('../images/fond_13.png');
    background-repeat: repeat;
  }

  .main {
    flex-grow: 2;
    background-color: white;

    .container {
      padding-top: 3em;
      background-color: white;
    }
  }
  #footer {
    margin: 0;
    .container {
      padding: 3em 0 0 0;
      background-color: white;
    }
  }

  &.path-frontpage {

    .container {
      max-width: 100%;
      @media (min-width: 380px) {
        max-width: $frontpageWith;
        min-width: 380px;
      }
    }

  }
}

.text-accueil {
  font-size: 110%;
}
.CONST {
  font-size: 140%;
}

.rouge {
  color: $rougeLogo;
  a { color: $rougeLogo; }
}
.black {
  color: black;
  a { color: black; }
}
.mono {
  font-family: 'Source Code Pro', monospace;
}

// Lien sociaux
.liensSociaux {
  ul {
    display: flex;
    flex-direction: column;
    li {
      display: inline-block;
      a{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        svg {
          margin: 0.5em 1em;
        }
      }
    }
  }
}

hr {
    display: block;
    clear: both;
    height: 0;
    //margin: 40px 0 80px;
    padding: 0;
    border: 0;
    //font-family: arial;
    text-align: center;
    //font-size: 60px;
    line-height: 0;
}
hr:after {
    content: "";
    height: 2px;
    width: 120px;
    background-color: $grisHR;
    display: block;
    margin: auto;
}
